{% extends "base.html" %} 
{% block extrahead %}
    <style type="text/css">
    td{ 
      padding: 5px 5px 5px 5px; 
    }
    #page{ 
      padding: 5px 5px 5px 5px;
     /* background-color:green;*/
    }
    .contact_delete{margin:1px 20px 1px 20px;}
    thead tr{ font-weight:bold;}
    .table_input{background-color:green;}
  </style>
  <link type="text/css" rel="stylesheet" href="/static/jquery-ui-1.11.4.custom/jquery-ui.min.css" />
  <script type="text/javascript" src="/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="/static/backbone_parts/json2.js"></script>
  <script src="/static/backbone_parts/underscore.js"></script>
  <script src="/static/backbone_parts/backbone.js"></script>
  <script>
$(function(){
//   var object = {};
//   _.extend(object, Backbone.Events);
// var object2 = {};
//   _.extend(object2, Backbone.Events);
//   object.on("alert", function(msg) {
//     alert("object Triggered " + msg);
//   });
//   object2.on("alert", function(msg) {
//     alert("object2 Triggered " + msg);
//   });
//   object.trigger("alert", "an event");
//   object2.trigger("alert", "an event");
  var user="{{ user }}"; $("#current_user_name").text(user);
  var csrf_token="{{ csrf_token }}";
  var cache={};
  var cache_item={};
  // Backbone.ajax = function() {
  //   var param = arguments[0];
  //   if (param.success) {//修改响应数据
  //     var oldSuccess = param.success;
  //     var oldError = param.error;
  //     param.success = function() {
  //       var newArguments = Array.prototype.slice.call(arguments, 0);
  //       //newArguments[0]=newArguments[0].data;//remove other
  //       oldSuccess.apply(null, newArguments);
  //     };
  //   }
  //   //2发送请求
  //   console.log("Backbone.ajax");
  //   console.log(param);
  //   console.log(param.data);
  //   return $.ajax({
  //     url : param.url,
  //     data : param.data,
  //     success : param.success,
  //     type : param.type,
  //     dataType :param.dataType
  //     contentType : 'multipart/form-data'//application/x-www-form-urlencoded, multipart/form-data, or text/plain
  //   });
    
  // };
  var myglobal={};
  var Contact = Backbone.Model.extend({
    urlRoot : "/rest/Contact/",
    //fields:['id', 'yonghu', 'addr', 'channels', 'yiqixinghao', 'yiqibh', 'baoxiang', 'shenhe', 'yujifahuo_date', 'tiaoshi_date', 'hetongbh', 'method'],
    defaults: function() {
      var d=new Date();
      var dstr=d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
      return {
        id:undefined,yonghu:'',addr:'',channels:'',yiqixinghao:'',yiqibh:'',baoxiang:'',shenhe:'',yujifahuo_date:'',tiaoshi_date:'',hetongbh:'',method:''
      };
    }
  });
  var ContactList = Backbone.Collection.extend({
    model: Contact,
    url : "/rest/Contact/",
    //localStorage: new Backbone.LocalStorage("contacts-backbone"),
   parse: function(data, options) {
      console.log("parse response");
      if(data.total)
        myglobal.total=data.total;
      return data.data;
   }
  });
  var UsePack= Backbone.Model.extend({
    urlRoot : "/rest/UsePack/",
    defaults: function() {
      return {
        id:undefined,name:'',contact:undefined,pack:undefined,hetongbh:""
      };
    }
  });
  var Pack= Backbone.Model.extend({
    urlRoot : "/rest/Pack/",
    defaults: function() {
      return {
        id:undefined,name:''
      };
    }
  });
  //{"itemid": 44, "ct": 1, "name": "镍箔", "pack": 111, "id": 1147},
  var Item= Backbone.Model.extend({
    urlRoot : "/rest/Item/",
    defaults: function() {
      return {
        id:undefined,name:'',guige:'',bh:'',danwei:''
      };
    }
  });
  var PackItem= Backbone.Model.extend({
    urlRoot : "/rest/PackItem/",
    defaults: function() {
      return {
        id:undefined,name:'',itemid:undefined,ct:0,pack:undefined,guige:'',danwei:'',bh:''
      };
    }
  });
  var PackItemList = Backbone.Collection.extend({
    model: PackItem,
    url : "/rest/PackItem/",
    parse: function(data, options) {
      console.log("parse response");
      // if(data.total)
      //   myglobal.total=data.total;
      return data.data;
   }
  });
  var UsepackList = Backbone.Collection.extend({
    model: UsePack,
    url : "/rest/UsePack/",
    parse: function(data, options) {
      console.log("parse response");
      // if(data.total)
      //   myglobal.total=data.total;
      return data.data;
   }
  });
  var contacts = new ContactList();
  var ContactEditView = Backbone.View.extend({
    tagName:  "div",
    template: _.template($('#contact-edit-template').html()),
    events: {
      "click #bt_file" : "uploadfile",
       "click #bt_save" : "save",
       "click #bt_clear" : "myclear",
       "click #bt_clearid" : "myclearid",
    },
    upload_click:function(event){
      console.log("upload_click");
      console.log(event.data);
      var view=event.data.view;
      $.ajax({
        context:view,
        url: '/rest/upload',
        type: 'POST',
        cache: false,
        data: new FormData($('#uploadForm')[0]),
        processData: false,
        contentType: false
        }).done(function(res) {
          console.log("done");
          console.log(res);//{"success":True, "files":fullfilepath}
          data=JSON.parse(res);
          if(data.success){
            this.$("#method").val(data.files);
            $('#uploadForm').dialog('close');
            console.log(this);
          }
          else{

          }
        }).fail(function(res) {

        });
    },
    uploadfile:function(){
      $("#upload").bind("click",{view:this},this.upload_click);
      $('#uploadForm').dialog({
            //bgiframe: true,
            //resizable: false, height: "530",width:"200",
            //height:140,
            modal: true
            , overlay: {
                backgroundColor: '#000'
                , opacity: 0.5
            }
            , autoOpen: true, // buttons: {
            //     Cancel: function() {
            //         $(this).dialog('close');
            //     },
            // }
      });
    },
    save_new:function(){
      console.log("upload_click");
      var data=new FormData(this.$('#uploadForm')[0]);
      $.ajax({
        context: this,
        url: "/rest/Contact/",
        cache: false,
        data: data,
        processData: false,
        contentType: false
        , error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
        , success: function (data) {
            console.log("ajax done");
            console.log(data);
            // if (data.success) {
            //     addrow(data.data.id, data.data.name);
            //     $("#dialog").dialog("close");
            // }
        }
      });
    },
    save:function(){
      var data={};
      for(var fname in this.model.attributes){
        if(fname!="id")
        {
            //var name=this.$("#"+fname).attr("name");
            var value=this.$("#"+fname).val();
            if (value) {
              var node=this.$("#"+fname);
              if(node.attr("type")=="checkbox")
              {
                  data[fname]=node[0].checked;
              }
              else
              {
               data[fname]=value;
              }//else
             }//if
        }//if
       }//for
      //console.log(data);
      if(this.model.get("id")==undefined)
      {
          contacts.add(this.model);
      }
      this.model.set(data);
      this.model.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("save finish");
          //model.set(resp.success.arguments[0].data);
          context.set(model.data);
        }
      });
    },
    myclear:function(){
      //console.log("clear click");
      this.model=new Contact();
      this.render();
    },
    myclearid:function(){//copy
      //this.$("#id").val(undefined);
      data={}//copy data from old model
      for(var fname in this.model.attributes){
        if(fname!="id")
        {
              data[fname]=this.model.get(fname);
        }
      }
      data["id"]=undefined;//id undefined save use POST,else use PUT
      this.model=new Contact();
      this.model.set(data);
      this.listenTo(this.model, 'change', this.render);//model change must relisten
      this.listenTo(this.model, 'destroy', this.remove);
    },
    initialize: function() {
      this.listenTo(this.model, 'change', this.render);
      this.listenTo(this.model, 'destroy', this.remove);
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
  });
/////////////////////////////////////////////////////////////////////////////////////
  var ContactView = Backbone.View.extend({
    tagName:  "tr",
    template: _.template($('#contact-template').html()),
    events: {
      "click .contact_edit" : "edit",
      "click .contact_delete" : "delete",
      "click .contact_usepack" : "usepack",
    },
    usepack:function(){
      var usepackListView = new UsepackListView({model:this.model});
           //usepackListView.render();
           usepackListView.$el.dialog({
                width:500,height:500,
                modal: true
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
       });
           usepackListView.$("#auto_pack1").autocomplete({
                minLength: 1
                , focus: function (event, ui) {
                    //$( "#auto_pack1" ).val( ui.item.value);
                    return false;
                }
                , select: function (event, ui) {
                    usepackListView.addrow(ui.item.pk, ui.item.value);
                    return false;
                }
                , source: function (request, response) {
                    var term = request.term;
                    if (term in cache) {
                        data = cache[term];
                        response(data);
                        return;
                    }
                    $.getJSON("/admin/lookups/ajax_lookup/pack", request, function (data, status, xhr) {
                        cache[term] = data;
                        response(data);
                    });
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.pk + "_" + item.value + "</a>")
                    .appendTo(ul);
            };
    },
    edit:function(){
        console.log("edit");
        console.log(arguments)
        var editview= new ContactEditView({model: this.model});
        // App.editview.model=this.model;
        //App.$("#section_edit").show();
        editview.render();//must call because editview has no element now;
        editview.$("#yujifahuo_date").datepicker({
            dateFormat: 'yy-mm-dd',
            numberOfMonths:1,//显示几个月
            showButtonPanel:true,//是否显示按钮面板
            clearText:"清除",//清除日期的按钮名称
            closeText:"关闭",//关闭选择框的按钮名称
            yearSuffix: '年', //年的后缀
            showMonthAfterYear:true,//是否把月放在年的后面
            //defaultDate:'2011-03-10',//默认日期
            //minDate:'2011-03-05',//最小日期
            //maxDate:'2011-03-20',//最大日期
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六'],
      });
       editview.$("#tiaoshi_date").datepicker({
            dateFormat: 'yy-mm-dd',
            numberOfMonths:1,//显示几个月
            showButtonPanel:true,//是否显示按钮面板
            clearText:"清除",//清除日期的按钮名称
            closeText:"关闭",//关闭选择框的按钮名称
            yearSuffix: '年', //年的后缀
            showMonthAfterYear:true,//是否把月放在年的后面
            //defaultDate:'2011-03-10',//默认日期
            //minDate:'2011-03-05',//最小日期
            //maxDate:'2011-03-20',//最大日期
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六'],
      });
        editview.$el.dialog({
                width:600,height:600,
                modal: false
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
       });
    },
    true_delete:function(){
        var data={};
        data.id=this.model.get("id");
        data.csrfmiddlewaretoken=csrf_token;
        data= JSON.stringify(data);
        this.model.destroy({ data:data,contentType:"application:json"});
    },
    delete:function(){
          //delete-template
           var deleteview = new DeleteView({callback:this.true_delete,obj:this});
           //deleteview.render();
           deleteview.$el.dialog({
                modal: true
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
           });
    },
    initialize: function() {
      this.listenTo(this.model, 'change', this.render);
      this.listenTo(this.model, 'destroy', this.remove);
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      // this.input = this.$('.edit');
      return this;
    },
  });
////////////////////////////////////////////////////////////////////////////
  var AppView = Backbone.View.extend({
     el: $("#todoapp"),
     events: {
      "click #id_bt_search" : "mysearch",
      "click #id_bt_new" : "newcontact",
    },
    newcontact:function(){
        var editview= new ContactEditView({model: new Contact()});
        // App.editview.model=this.model;
        //App.$("#section_edit").show();
        editview.render();//must call because editview has no element now;
        editview.$el.dialog({
                width:600,height:600,
                modal: false
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
       });
      editview.$("#yujifahuo_date").datepicker({
            dateFormat: 'yy-mm-dd',
            numberOfMonths:1,//显示几个月
            showButtonPanel:true,//是否显示按钮面板
            clearText:"清除",//清除日期的按钮名称
            closeText:"关闭",//关闭选择框的按钮名称
            yearSuffix: '年', //年的后缀
            showMonthAfterYear:true,//是否把月放在年的后面
            //defaultDate:'2011-03-10',//默认日期
            //minDate:'2011-03-05',//最小日期
            //maxDate:'2011-03-20',//最大日期
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六'],
      });
      editview.$("#tiaoshi_date").datepicker({
            dateFormat: 'yy-mm-dd',
            numberOfMonths:1,//显示几个月
            showButtonPanel:true,//是否显示按钮面板
            clearText:"清除",//清除日期的按钮名称
            closeText:"关闭",//关闭选择框的按钮名称
            yearSuffix: '年', //年的后缀
            showMonthAfterYear:true,//是否把月放在年的后面
            //defaultDate:'2011-03-10',//默认日期
            //minDate:'2011-03-05',//最小日期
            //maxDate:'2011-03-20',//最大日期
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六'],
      });

    },
    mysearch:function(){
       myglobal.search=this.$("#id_input_search").val();
       myglobal.start=0;
       console.log("search="+myglobal.search);
       App.mysetdata();
    },

    button_prev_click:function(){
        myglobal.start=myglobal.start-myglobal.limit;
        if(myglobal.start<0) myglobal.start=0;
        //contacts.fetch({ data: { start:myglobal.start,limit:myglobal.limit} });
        App.mysetdata();
        //console.log(myglobal.start+","+myglobal.limit+","+myglobal.total);
    },
    button_next_click:function(){
        myglobal.start=myglobal.start+myglobal.limit;
        if(myglobal.start>myglobal.total-myglobal.limit) myglobal.start=myglobal.total-myglobal.limit;
        App.mysetdata();//contacts.fetch({ data: { start:myglobal.start,limit:myglobal.limit} });
        //console.log(myglobal.start+","+myglobal.limit+","+myglobal.total);
    },
    mysetdata:function(){
        this.$("#contact-list").empty();
        contacts.fetch({
            reset:true,
            data: { start:myglobal.start,limit:myglobal.limit,search:myglobal.search},
            success:function(){
                console.log(contacts.length+" contacts")
                this.$("#page").empty();
                var right=myglobal.start+myglobal.limit
                this.$("#page").append((myglobal.start+1)+"..."+right+" of "+myglobal.total);
            },
            error:function(){
            }
          }
        );//{ reset: true,data: { start:this.start,limit:this.limit} });
    },
    afterlogin:function(){
        myglobal.start=0;
        myglobal.limit=3;
        myglobal.total=0;
        myglobal.search="";
        this.listenTo(contacts, 'add', this.addOne);
        this.listenTo(contacts, 'reset', this.addAll);
        this.listenTo(contacts, 'all', this.render);
        this.main = $('#main');
        
        //this.$("#section_edit").append(this.editview.render().el);
        this.$("#bt_prev").bind("click", {}, this.button_prev_click);
        this.$("#bt_next").bind("click", {}, this.button_next_click);
        //this.$("#bt_search").bind("click", {}, this.search);
        this.mysetdata();
    },
    initialize: function() {
      if (user=="AnonymousUser"){
        console.log("begin login");
        this.userv= new UserView({model: new User()});
        this.$("#current_user").append(this.userv.render().el);
      }
      else{
        this.afterlogin();
      }
    },
    render: function() {
       console.log("contact-list render");
       if (contacts.length) {
         this.main.show();
       } else {
         this.main.hide();
         //this.$("#section_edit").show();
       }
    },
    addOne: function(contact) {
      var view = new ContactView({model: contact});
      this.$("#contact-list").append(view.render().el);
    },
    addAll: function() {
      contacts.each(this.addOne, this);
    },
  });
 //////////////////////////////////////////////////////////////////////////
  var User = Backbone.Model.extend({
    defaults: function() {
      return {
        username:'mahongquan',password:'333333',csrfmiddlewaretoken:csrf_token
      };
    }
  });
  //////////////////////////////////////////////////////////////////////////
  var UserView = Backbone.View.extend({
    tagName:  "div",
    template: _.template($('#login-template').html()),
    events: {
      "click #bt_login" : "login",
    },
    initialize: function() {
      this.listenTo(this.model, 'change', this.render);
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
    login:function(){
      console.log("login");
      var data={};
       for(var name in this.model.attributes){
            console.log(name);
            var value=this.$("#"+name).val();
            if (value) {
              var node=this.$("#"+name);
              if(node.attr("type")=="checkbox")
              {
                  data[name]=node[0].checked;
              }
              else
              {
               data[name]=value;
              }
             }
       }//for
       console.log(data);
        $.ajax({
          context: App
          , type: 'POST'
          , url: "/rest/login"
          , data: data
          , complete: function () {
          }
          , error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log(errorThrown);
          }
          , success: function (data) {
              console.log("ajax done");
              console.log(data);
              data=JSON.parse(data);
              if (data.success) {
                   user=data.data.name;
                  $("#current_user_name").text(user);
                  $("#current_user").attr("hidden",true);
                  //var app=$(this);
                  this.afterlogin();
              }
          }
      });
    },
  });  
/////////////////////////////////////////////////////////////////////////////
  var DeleteView = Backbone.View.extend({
    tagName:  "div",
    template: _.template($('#delete-template').html()),
    events: {
      "click #id_ok" : "ok",
      "click #id_cancel" : "cancel"
    },
    initialize: function() {
      console.log(arguments);
      this.callback=arguments[0].callback;
      this.obj=arguments[0].obj;
    },
    render: function() {
      this.$el.html(this.template());
      return this;
    },
    cancel:function(){
      console.log("cancel");
      this.$el.dialog('close');
    },
    ok:function(){
      console.log("ok");
      //var contactlistview=this.model;//ture object is view
      //contactlistview.true_delete();
      //this.callback();
      this.callback.apply(this.obj, []);
      this.$el.dialog("close");
    }
  });  
  /////////////////////////////////////////////////////////usepackListView
  var UsepackListView = Backbone.View.extend({
     tagName:  "div",//el: $("#section_usepack"),
     template: _.template($('#usepack-list-template').html()),
     events: {
      "click #id_new_usepack" : "new_usepack",
    },
    new_usepack:function(){
      console.log("select_usepack");
      var p=new Pack();
      var self=this;
      p.set({name:this.$("#new_pack1").val()});
      p.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("save finish");
          //model.set(resp.success.arguments[0].data);
          context.set(model.data);
          //self.usepacks.add(p);
          //alert("success");
          self.addrow(p.get("id"),p.get("name"));
          self.$("#new_pack1").val("");
        }
      });
    },
    mysetdata:function(){
        this.$("#usepack-list").empty();
        this.usepacks.fetch({
            reset:true,
            data: { contact:this.model.get("id")},
            success:function(){
                //console.log(this.usepacks.length+" usepacks")
                // this.$("#page").empty();
                // var right=myglobal.start+myglobal.limit
                // this.$("#page").append((myglobal.start+1)+"..."+right+" of "+myglobal.total);
            },
            error:function(){
            }
          }
        );//{ reset: true,data: { start:this.start,limit:this.limit} });
    },
    initialize: function() {
       this.usepacks = new UsepackList();
       this.listenTo(this.usepacks, 'add', this.addOne);
       this.listenTo(this.usepacks, 'reset', this.addAll);
       this.listenTo(this.usepacks, 'all', this.render);
       this.$el.html(this.template(this.model.toJSON()));
       this.mysetdata();
    },
    addrow:function(pk,value){
      console.log(pk);
      console.log(value);
      var p=new UsePack();
      var self=this;
      p.set({contact:this.model.get("id"),name:value,pack:pk});
      p.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("save finish");
          //model.set(resp.success.arguments[0].data);
          context.set(model.data);
          self.usepacks.add(p);
        }
      });
    },
    render: function() {
      console.log("usepack-list render");//_.template($('#usepack-list-template').html()),
       //this.$el.html(this.template(this.model.toJSON()));
      //return this;
    },
    addOne: function(usepack) {
      console.log("addOne usepacks");
      var view = new UsepackView({model: usepack});
      var viewc=view.render().el;
      console.log(viewc);
      this.$("#usepack-list").append(viewc);
    },
    addAll: function() {
      console.log("addAll usepacks");
      this.usepacks.each(this.addOne, this);
    },
  });
 //////////////////////////////////////////////////////////UsepackView
  var UsepackView = Backbone.View.extend({
    tagName:  "tr",
    template: _.template($('#usepack-template').html()),
    events: {
      "click .usepack_edit" : "edit",
      "click .usepack_delete" : "delete",
    },
    edit:function(){
      console.log("edit");
      var packitemListView = new PackItemListView({model:this.model});
           packitemListView.$el.dialog({
                width:600,height:500,
                modal: true
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
       });
           packitemListView.$("#auto_item1").autocomplete({
                minLength: 1
                , focus: function (event, ui) {
                    //$( "#auto_pack1" ).val( ui.item.value);
                    return false;
                }
                , select: function (event, ui) {
                    packitemListView.addrow(ui.item.pk, ui.item.value);
                    return false;
                }
                , source: function (request, response) {
                    var term = request.term;
                    if (term in cache_item) {
                        data = cache_item[term];
                        response(data);
                        return;
                    }
                    $.getJSON("/admin/lookups/ajax_lookup/item", request, function (data, status, xhr) {
                        cache_item[term] = data;
                        response(data);
                    });
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.pk + "_" + item.value + "</a>")
                    .appendTo(ul);
            };
    },
    true_delete:function(){
        var data={};
        data.id=this.model.get("id");
        data.csrfmiddlewaretoken=csrf_token;
        data= JSON.stringify(data);
        this.model.destroy({ data:data,contentType:"application:json"});     
    },
    delete:function(){
      var deleteview = new DeleteView({callback:this.true_delete,obj:this});
           deleteview.render();
           deleteview.$el.dialog({
                modal: true
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
           });
    },
    initialize: function() {
      this.listenTo(this.model, 'change', this.render);
      this.listenTo(this.model, 'destroy', this.remove);
    
      
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
  });
  /////////////////////////////
  ///////
  /////////////////////////////////////////////////////////usepackListView
  var PackItemListView = Backbone.View.extend({
     tagName:  "div",//el: $("#section_usepack"),
     template: _.template($('#packitem-list-template').html()),
     events: {
      "click #id_new_packitem" : "new_packitem",
    },
    new_packitem:function(){
      console.log("new packitem");
      var p=new Item();
      var self=this;
      p.set({name:this.$("#new_item1").val()});
      p.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("save finish");
          //model.set(resp.success.arguments[0].data);
          context.set(model.data);
          //self.usepacks.add(p);
          //alert("success");
          self.addrow(p.get("id"),p.get("name"));
          self.$("#new_item1").val("");
        }
      });
    },
    mysetdata:function(){
        this.$("#packitem-list").empty();
        this.packitems.fetch({
            reset:true,
            data: { pack:this.model.get("pack"),start:0,limit:200},
            success:function(){
                //console.log(this.usepacks.length+" usepacks")
                // this.$("#page").empty();
                // var right=myglobal.start+myglobal.limit
                // this.$("#page").append((myglobal.start+1)+"..."+right+" of "+myglobal.total);
            },
            error:function(){
            }
          }
        );//{ reset: true,data: { start:this.start,limit:this.limit} });
    },
    initialize: function() {
       this.packitems = new PackItemList();
       this.listenTo(this.packitems, 'add', this.addOne);
       this.listenTo(this.packitems, 'reset', this.addAll);
       this.listenTo(this.packitems, 'all', this.render);
       this.$el.html(this.template(this.model.toJSON()));
       // this.pie=new PackItemEditView({model:new PackItem()});
       // this.$("#packitem-edit").append(this.pie.render().el);
       this.mysetdata();
    },
    addrow:function(pk,value){
      console.log(pk);
      console.log(value);
      var p=new PackItem();
      var self=this;
      p.set({pack:this.model.get("pack"),name:value,itemid:pk,ct:1});
      p.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("save finish");
          //model.set(resp.success.arguments[0].data);
          context.set(model.data);
          self.packitems.add(p);
        }
      });
    },
    render: function() {
      console.log("packitem-list render");//_.template($('#usepack-list-template').html()),
       //this.$el.html(this.template(this.model.toJSON()));
      //return this;
    },
    addOne: function(packitem) {
      console.log("addOne usepacks");
      var view = new PackItemView({model: packitem});
      var viewc=view.render().el;
      console.log(viewc);
      this.$("#packitem-list").append(viewc);
    },
    addAll: function() {
      console.log("addAll usepacks");
      this.packitems.each(this.addOne, this);
    },
  });
 //////////////////////////////////////////////////////////UsepackView
  var PackItemView = Backbone.View.extend({
    tagName:  "tr",
    template: _.template($('#packitem-template').html()),
    events: {
      "click .packitem_edit" : "edit",
      "click .packitem_delete" : "delete",
    },
    edit:function(){
      console.log("edit");
       var packitemedit=new PackItemEditView({model:this.model});
       packitemedit.render();
       packitemedit.$el.dialog({
              width:300,height:300,
                modal: false
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
       });  
    },
    true_delete:function(){
        var data={};
        data.id=this.model.get("id");
        data.csrfmiddlewaretoken=csrf_token;
        data= JSON.stringify(data);
        this.model.destroy({ data:data,contentType:"application:json"});     
    },
    delete:function(){
      var deleteview = new DeleteView({callback:this.true_delete,obj:this});
           deleteview.render();
           deleteview.$el.dialog({
                modal: true
                , overlay: {
                    backgroundColor: '#000'
                    , opacity: 0.5
                }
                , autoOpen: true
           });
    },
    initialize: function() {
      this.listenTo(this.model, 'change', this.render);
      this.listenTo(this.model, 'destroy', this.remove);
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
  });
  //////////////
    var PackItemEditView = Backbone.View.extend({
    tagName:  "div",
    template: _.template($('#packitem-edit-template').html()),
    events: {
       "click #bt_save_item" : "save",
    },
    save:function(){
      var data={};
      for(var fname in this.model.attributes){
           if(fname!="id"){
                      var value=this.$("#"+fname).val();
                      if (value) {
                        var node=this.$("#"+fname);
                        if(node.attr("type")=="checkbox")
                        {
                            data[fname]=node[0].checked;
                        }
                        else
                        {
                         data[fname]=value;
                        }//else
                       }//if
           }
       }//for
       //save Item///////////////////////
       var item=new Item();
       item.set(data);
       item.set({id:data["itemid"]});
       item.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("item save finish");
        }
      }); 
       //save PackItem///////////////////////
      this.model.set(data);
      var self=this;
      this.model.save(null,{
        success:function(context, model, resp, options){
          console.log(options);
          console.log("packitem save finish");
          //model.set(resp.success.arguments[0].data);
          context.set(model.data);
          self.$el.dialog("close");
        }
      });
    },
    initialize: function() {
      this.listenTo(this.model, 'change', this.render);
      this.listenTo(this.model, 'destroy', this.remove);
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
  });
   var App = new AppView();
});
  </script>
{% endblock %} 
{% block content %}
<form hidden="true" id="uploadForm" enctype="multipart/form-data">
    <input id="file" type="file" name="file"/>
    <button id="upload" type="button">upload</button>
</form>
  <div id="todoapp">
    <p id="current_user_name"></p>
    <span id="current_user">
    </span>
    <input type="text" id="id_input_search"  placeholder="合同 or 仪器编号" value=""><button id="id_bt_search">search</button>
    <button id="id_bt_new">new</button>
      <section id="main">
      <table  class="table-bordered" >
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>用户单位</td><td>客户地址</td><td>通道配置</td><td>仪器型号</td><td>仪器编号</td><td>包箱</td><td>审核</td>
          <td>预计发货时间</td><td>调试时间</td><td>合同编号</td><td>方法</td><td>actions</td>
    　　</tr>
   　</thead> 
      <tbody id="contact-list">
      </tbody>
      </table>
      <a id="bt_prev">prev</a> <label id="page">page/page</label><a id="bt_next">next</a>
    </section>
<!--     <section id="section_edit">
    </section>
    <section id="section_usepack">
    </section> -->
  </div>
  <script type="text/template" id="contact-template">
  <td>
      <%- id %>
 </td><td>
      <%- yonghu %>
 </td><td>
      <%- addr %>
 </td><td>
      <%- channels %>
 </td><td>
      <%- yiqixinghao %>
 </td><td>
      <%- yiqibh %>
 </td><td>
      <%- baoxiang %>
 </td><td>
      <%- shenhe %>
 </td><td>
      <%- yujifahuo_date %>
 </td><td>
      <%- tiaoshi_date %>
 </td><td>
      <%- hetongbh %>
 </td><td>
      <a href="/media/<%- method %>"><%- method %></a>
 </td>
 <td><a class="contact_edit" data="<%- id %>">edit</a><a  class="contact_delete" data="<%- id %>">delete</a>
    <a class="contact_usepack" data="<%- id %>">usepack</a>
 </td>
  </script>
  <script type="text/template" id="contact-edit-template">
        <table id="table_input" class="table-condensed" >
<tr>
                <td>
                    <label>ID:</label>
                </td>
                <td>
                    <input type="text" id="id" name="id" readonly="true"      value="<%- id %>">
                </td>
            </tr><tr>
                <td>
                    <label>用户单位:</label>
                </td>
                <td>
                    <input type="text" id="yonghu" name="yonghu" value="<%- yonghu %>">
                </td>
            </tr><tr>
                <td>
                    <label>客户地址:</label>
                </td>
                <td>
                    <input type="text" id="addr" name="addr" value="<%- addr %>">
                </td>
            </tr><tr>
                <td>
                    <label>通道配置:</label>
                </td>
                <td>
                    <input type="text" id="channels" name="channels" value="<%- channels %>">
                </td>
            </tr><tr>
                <td>
                    <label>仪器型号:</label>
                </td>
                <td>
                    <input type="text" id="yiqixinghao" name="yiqixinghao" value="<%- yiqixinghao %>">
                </td>
            </tr><tr>
                <td>
                    <label>仪器编号:</label>
                </td>
                <td>
                    <input type="text" id="yiqibh" name="yiqibh" value="<%- yiqibh %>">
                </td>
            </tr><tr>
                <td>
                    <label>包箱:</label>
                </td>
                <td>
                    <input type="text" id="baoxiang" name="baoxiang" value="<%- baoxiang %>">
                </td>
            </tr><tr>
                <td>
                    <label>审核:</label>
                </td>
                <td>
                    <input type="text" id="shenhe" name="shenhe" value="<%- shenhe %>">
                </td>
            </tr><tr>
                <td>
                    <label>预计发货时间:</label>
                </td>
                <td>
                    <input type="text" id="yujifahuo_date" name="yujifahuo_date" value="<%- yujifahuo_date %>">
                </td>
            </tr><tr>
                <td>
                    <label>调试时间:</label>
                </td>
                <td>
                    <input type="text" id="tiaoshi_date" name="tiaoshi_date" value="<%- tiaoshi_date %>">
                </td>
            </tr><tr>
                <td>
                    <label>合同编号:</label>
                </td>
                <td>
                    <input type="text" id="hetongbh" name="hetongbh" value="<%- hetongbh %>">
                </td>
            </tr><tr>
                <td>
                    <label>方法:</label>
                </td>
                <td>
                <input type="text" id="id" name="id" readonly="true" value="<%- method %>"><button id="bt_file">browse</button>
                </td>
            </tr>        </table>
        <button id="bt_save">save</button> <button id="bt_clear">clear</button> <button id="bt_clearid">remove id</button>
  </script>
  <script type="text/template" id="login-template">
        <table class="table-condensed">
        <tr>
                <td>
                    <label>csrfmiddlewaretoken:</label>
                </td>
                <td>
                    <input type="text" id="csrfmiddlewaretoken"  value="<%- csrfmiddlewaretoken %>">
                </td>
          </tr>
          <tr>
                <td>
                    <label>用户名:</label>
                </td>
                <td>
                    <input type="text" id="username"  value="<%- username %>">
                </td>
          </tr>
          <tr>
                <td>
                    <label>密码:</label>
                </td>
                <td>
                    <input type="text" id="password"  value="<%- password %>">
                </td>
          </tr>
        </table>
        <button id="bt_login">提交</button>
  </script>
  <script type="text/template" id="delete-template">
        <table class="table-condensed">
          <tr>
                <td>
                Are you sure?
                </td>
          </tr>
          <tr>
                <td>
                    <button id="id_ok">ok</button>
                </td>
                <td>
                    <button id="id_cancel">cancel</button>
                </td>
          </tr>
        </table>
  </script>
  <script type="text/template" id="usepack-list-template">
  <div class="container">
      <div id="contact-info">
      <p>id:<%- id %></p>      <p>hetongbh:<%- hetongbh %></p>      
      </div>
      <table  class="table-bordered" >
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>name</td><td hidden="true">合同</td><td hidden="true">包</td><td hidden="true">合同号</td><td>actions</td>
    　　</tr>
   　</thead> 
      <tbody id="usepack-list">
      </tbody>
      </table>
      <div style="padding: 5px 5px 50px 5px;">  <!-- leave margin to show autocomplete items -->
      <p><input id="auto_pack1" placeholder="输入包"></p>
      <p><input id="new_pack1"  placeholder="新包"><button id="id_new_usepack">新包</button></p>
      </div>
  </div>
  </script>
  <script type="text/template" id="usepack-template">
    　　　<td><%- id %></td><td><%- name %></td><td hidden="true"><%- contact %></td><td hidden="true"><%- pack %></td><td hidden="true"><%- hetongbh %></td><td><button class="usepack_edit" data="<%- id %>">edit</button><button  class="usepack_delete" data="<%- id %>">remove</button></td>
  </script>
<script type="text/template" id="packitem-list-template">
  <div class="container">
      <div id="pack-info">
      <p>id:<%- id %></p>      <p>name:<%- name %></p>      
      </div>
      <table  class="table-bordered" >
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>name</td><td>ct</td><td hidden="true">pack</td><td hidden="true">itemid</td><td>actions</td>
    　　</tr>
   　</thead> 
      <tbody id="packitem-list">
      </tbody>
      </table>
      <section id="packitem-edit">
      </section>
      <div style="padding: 5px 5px 50px 5px;">  <!-- leave margin to show autocomplete items -->
      <p><input id="auto_item1" placeholder="输入Item"></p>
      <p><input id="new_item1"  placeholder="新Item"><button id="id_new_packitem">新Item</button></p>
      </div>
  </div>
  </script>
<!--   //{"itemid": 44, "ct": 1, "name": "镍箔", "pack": 111, "id": 1147}, -->
  <script type="text/template" id="packitem-template">
    　　　<td><%- id %></td><td><%- name %></td><td><%- ct %></td><td hidden="true"><%- pack %></td><td hidden="true"><%- itemid %></td><td><button class="packitem_edit" data="<%- id %>">edit</button><button  class="packitem_delete" data="<%- id %>">remove</button></td>
  </script>
    <script type="text/template" id="packitem-edit-template">
    <table  class="table-condensed" >
            <tr>
                <td>
                    <label>ID:</label>
                </td>
                <td>
                    <input type="text" id="id" name="id" readonly="true"      value="<%- id %>">
                </td>
            </tr>
             <tr>
                <td>
                    <label>itemid:</label>
                </td>
                <td>
                    <input type="text" id="itemid" name="itemid" readonly="true"      value="<%- itemid %>">
                </td>
            </tr>
            <tr>
                <td>
                    <label>name:</label>
                </td>
                <td>
                    <input type="text" id="name" name="name" value="<%- name %>">
                </td>
            </tr>        
            <tr>
                <td>
                    <label>guige:</label>
                </td>
                <td>
                    <input type="text" id="guige" name="guige" value="<%- guige %>">
                </td>
            </tr>        
            <tr>
                <td>
                    <label>danwei:</label>
                </td>
                <td>
                    <input type="text" id="danwei" name="danwei" value="<%- danwei %>">
                </td>
            </tr>        
            <tr>
                <td>
                    <label>ct:</label>
                </td>
                <td>
                    <input type="text" id="ct" name="ct" value="<%- ct %>">
                </td>
            </tr>        
            </table>
        <button id="bt_save_item">save</button>
    </script>
{% endblock %} 

