{% extends "base.html" %} 
{% block extrahead %}
  <link type="text/css" rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" />
  <link href="/static/awesome/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="/static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
  <script src="/static/backbone_parts/bootstrap3-typeahead.min.js"></script>
  <script src="/static/backbone_parts/json2.js"></script>
  <script src="/static/backbone_parts/underscore.js"></script>
  <script src="/static/backbone_parts/backbone.js"></script>
  <script type="text/javascript">
    var user="{{ user }}";var csrf_token="{{ csrf_token }}";
    var host="";
  </script>
  <script src="/static/backbone_parts/main.js"></script>
 <script>
   function hi(){
    console.log("hi");
    $("#myModal_test").modal("show");
   };
 </script>
     <style type="text/css">
    td{ 
      padding: 3px 3px 3px 3px; 
    }
    #page{ 
      padding: 5px 5px 5px 5px;
     /* background-color:green;*/
    }
    a{
      text-decoration: underline;
      font-style:italic;
      color:#006;
    }
    .contact_edit{text-decoration: underline;}
    /*.contact_delete{margin:1px 20px 1px 1px;}
    .contact_usepack{margin:1px 20px 1px 1px;}
    .contact_zxd{margin:1px 20px 1px 1px;}*/
    .contact_updatemethod{margin:1px 2px 1px 2px;}
    .contact_allfile{margin:1px 2px 1px 2px;}
    thead tr{ font-weight:bold;}
    .table_input{background-color:green;}
    .newClass { background-color:#8888ff;}
  </style>
{% endblock %} 
{% block content %}
  <div id="todoapp">
    <div>
      <div id="id_mymodal1" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table id="table_input"  >
                <tbody>
<tr >
                <td >
                    ID:
                </td>
                <td >
                    <input type="text" id="id" name="id" readonly="true"  disabled="disabled"    value="<%- id %>">
                </td>
        <!--     </tr><tr> -->
                <td>
                    <label>用户单位:</label>
                </td>
                <td>
                    <input type="text" id="yonghu" name="yonghu" value="<%- yonghu %>">
                </td>
            </tr><tr>
                <td>
                    客户地址:
                </td>
                <td>
                    <input type="text" id="addr" name="addr" value="<%- addr %>">
                </td>
       <!--      </tr><tr> -->
                <td>
                    通道配置:
                </td>
                <td>
                    <input type="text" id="channels"  value="<%- channels %>" data-provide="typeahead" data-items="4" />  
                </td>
            </tr><tr>
                <td>
                    <label>仪器型号:</label>
                </td>
                <td>
                <input type="text" id="yiqixinghao"  value="<%- yiqixinghao %>" data-provide="typeahead" data-items="3" />  
                </td>
  <!--           </tr><tr> -->
                <td>
                    <label>仪器编号:</label>
                </td>
                <td>
                    <input type="text" id="yiqibh" name="yiqibh" value="<%- yiqibh %>">
                </td>
            </tr><tr>
                <td>
                    <label>包箱:</label>
                </td>
                <td>
                    <input type="text" id="baoxiang" name="baoxiang" value="<%- baoxiang %>">
                </td>
<!--             </tr><tr> -->
                <td>
                    审核:
                </td>
                <td>
                    <input type="text" id="shenhe" name="shenhe" value="<%- shenhe %>">
                </td>
            </tr><tr>
                <td>
                    <label>入库时间:</label>
                </td>
                <td>
                    <input type="text" class="mydate" id="yujifahuo_date" name="yujifahuo_date" value="<%- yujifahuo_date %>">
                </td>
<!--             </tr><tr> -->
                <td>
                    调试时间:
                </td>
                <td>
                    <input type="text" class="mydate" id="tiaoshi_date" name="tiaoshi_date" value="<%- tiaoshi_date %>">
                </td>
            </tr><tr>
                <td>
                    <label>合同编号:</label>
                </td>
                <td>
                    <input type="text" id="hetongbh" name="hetongbh" value="<%- hetongbh %>">
                </td>
<!--             </tr><tr> -->
                <td>
                    方法:
                </td>
                <td>
                <input type="text" id="method" name="method" readonly="true" value="<%- method %>">
                <button class="btn" id="bt_file">
                  <span class="fa fa-pencil" aria-hidden="true"></span>
                </button>
                <button class="btn" id="bt_removefile">
                <span class="fa fa-remove" aria-hidden="true"></span>
                </button>
                </td>
            </tr>      </tbody>  
          </table>
       <div align="left"> <button class="btn btn-primary" id="bt_save">保存</button> <button  id="bt_clear">清除</button> <button  id="bt_clearid">复制</button></div>
        <div id="id_usepacks"></div>
            </div>
          </div>
        </div>
      </div>
    <table>
    <tr>
	 <td>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span id="dropdownMenu1_text">Dropdown</span>
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li id="li_login"hidden="true"><a href="#" id="id_login" >登录</a></li>
		    <li id="li_logout"><a href="#" id="id_logout">注销</a></li>
		  </ul>
		</div>
	</td>
	<td>
	    	<input type="text" id="id_input_search"  placeholder="合同 or 仪器编号" value="">
	    	<button id="id_bt_search" class="btm btn-info">搜索
        <span class="fa fa-search" aria-hidden="true"></span>
        </button>
	    	<button id="id_bt_new"  class="btn btn-primary">新仪器</button>
        <button id="id_bt_standard"  class="btn btn-info">导入标样</button>
	</td>
   <td>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="dropdownMenu2_text">过滤</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="#" class="baoxiang" >马红权</a></li>
        <li><a href="#" class="baoxiang" >陈旺</a></li>
        <li><a href="#" class="baoxiang" >吴振宁</a></li>
        <li><a href="#" class="baoxiang" >周伟</a></li>
        <li><a href="#" class="baoxiang" >刘银凯</a></li>
        <li><a href="#" class="baoxiang" ><span class="fa fa-asterisk"></span></a></li>
      </ul>
    </div>
  </td>
  </tr>
 </table>
 </div>
      <div id="main" style="min-height:200px;">
      <table  class="table-bordered" >
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>用户单位</td><td>客户地址</td><td>通道配置</td><td>仪器型号</td><td>仪器编号</td><td>包箱</td><td>审核</td>
          <td>入库时间</td><td>调试时间</td><td>合同编号</td><td>方法</td>
    　　</tr>
   　</thead> 
      <tbody id="contact-list">
      </tbody>
      </table>
      <a href="#" id="bt_prev">前一页</a> 
      <label id="page">page/page</label></input>
      <a href="#" id="bt_next">后一页</a><input id="page_input" value="1" maxlength="6" size="6" /><button id="page_go"  class="btn btn-info">跳转</button>
    </div>
  </div>
  <!--=========================================================================-->
  <script type="text/template" id="contact-template">
  <td>
      <%- id %>
 </td><td>
      <%- yonghu %>
 </td><td>
      <%- addr %>
 </td><td>
      <%- channels %>
 </td><td>
      <%- yiqixinghao %>
 </td>
 <td>
     <a class="contact_edit" href="#"> <%- yiqibh %></a>
     <span class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu12">
        <li><a href="#" class="contact_detail" data="<%- id %>">详细</a></li>
        <li><a href="#" class="contact_updatemethod" data="<%- id %>">更新方法</a></li>
        <li><a href="#" class="contact_allfile" data="<%- id %>">全部文件</a></li>
        <li><a href="#" class="contact_chuku" data="<%- id %>">核对备料计划</a></li>
        <li><a href="#" class="contact_folder" data="<%- id %>">资料文件夹</a></li>
      </ul>
    </span>
 </td>
 <td>
      <%- baoxiang %>
 </td><td>
      <%- shenhe %>
 </td><td>
      <%- yujifahuo_date %>
 </td><td>
      <%- tiaoshi_date %>
 </td><td>
      <%- hetongbh %></a>
 </td>
 <td>
      <a href="/media/<%- method %>"><%- method %></a>
 </td>
 </script>
  <!--=========================================================================-->
  <script type="text/template" id="contact-edit2-template">
        <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >    
              <div  id="id_contact_edit"></div>
              <div id="id_usepack_edit"></div>
            </div>
          </div>
        </div>
  </script>
  <!--=========================================================================-->
  <script type="text/template" id="contact-edit-template">
          <table id="table_input" class="table-condensed" >
<tr >
                <td >
                    ID:
                </td>
                <td >
                    <input type="text" id="id" name="id" readonly="true"  disabled="disabled"    value="<%- id %>">
                </td>
        <!--     </tr><tr> -->
                <td>
                    <label>用户单位:</label>
                </td>
                <td>
                    <input type="text" id="yonghu" name="yonghu" value="<%- yonghu %>">
                </td>
            </tr><tr>
                <td>
                    客户地址:
                </td>
                <td>
                    <input type="text" id="addr" name="addr" value="<%- addr %>">
                </td>
       <!--      </tr><tr> -->
                <td>
                    通道配置:
                </td>
                <td>
                    <input type="text" id="channels"  value="<%- channels %>" data-provide="typeahead" data-items="4" />  
                </td>
            </tr><tr>
                <td>
                    <label>仪器型号:</label>
                </td>
                <td>
                <input type="text" id="yiqixinghao"  value="<%- yiqixinghao %>" data-provide="typeahead" data-items="3" />  
                </td>
  <!--           </tr><tr> -->
                <td>
                    <label>仪器编号:</label>
                </td>
                <td>
                    <input type="text" id="yiqibh" name="yiqibh" value="<%- yiqibh %>">
                </td>
            </tr><tr>
                <td>
                    <label>包箱:</label>
                </td>
                <td>
                    <input type="text" id="baoxiang" name="baoxiang" value="<%- baoxiang %>">
                </td>
<!--             </tr><tr> -->
                <td>
                    审核:
                </td>
                <td>
                    <input type="text" id="shenhe" name="shenhe" value="<%- shenhe %>">
                </td>
            </tr><tr>
                <td>
                    <label>入库时间:</label>
                </td>
                <td>
                    <input type="text" class="mydate" id="yujifahuo_date" name="yujifahuo_date" value="<%- yujifahuo_date %>">
                </td>
<!--             </tr><tr> -->
                <td>
                    调试时间:
                </td>
                <td>
                    <input type="text" class="mydate" id="tiaoshi_date" name="tiaoshi_date" value="<%- tiaoshi_date %>">
                </td>
            </tr><tr>
                <td>
                    <label>合同编号:</label>
                </td>
                <td>
                    <input type="text" id="hetongbh" name="hetongbh" value="<%- hetongbh %>">
                </td>
<!--             </tr><tr> -->
                <td>
                    方法:
                </td>
                <td>
                <input type="text" id="method" name="method" readonly="true" value="<%- method %>">
                <button class="btn" id="bt_file">
                  <span class="fa fa-pencil" aria-hidden="true"></span>
                </button>
                <button class="btn" id="bt_removefile">
                <span class="fa fa-remove" aria-hidden="true"></span>
                </button>
                </td>
            </tr>        </table>
       <div align="left"> <button class="btn btn-primary" id="bt_save">保存</button> <button  id="bt_clear">清除</button> <button  id="bt_clearid">复制</button></div>
        <div id="id_usepacks"></div>
  </script>
  <!--=========================================================================-->
  <script type="text/template" id="login-template">
        <table class="table-condensed">
        <tr hidden="true">
                <td>
                    <label>csrfmiddlewaretoken:</label>
                </td>
                <td>
                    <input type="text" id="csrfmiddlewaretoken"  value="<%- csrfmiddlewaretoken %>">
                </td>
          </tr>
          <tr>
                <td>
                    <label>用户名:</label>
                </td>
                <td>
                    <input type="text" id="username"  value="<%- username %>">
                </td>
          </tr>
          <tr>
                <td>
                    <label>密码:</label>
                </td>
                <td>
                    <input type="text" id="password"  value="<%- password %>">
                </td>
          </tr>
        </table>
        <button id="bt_login">提交</button>
  </script>
  <!--=========================================================================-->
  <script type="text/template" id="delete-template">
        <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" > 
              <table >
                <tr>
                      <td>是否确定?</td>
                </tr>
                <tr>
                      <td>
                          <button id="delete_ok">确定</button>
                      </td>
                      <td>
                          <button id="delete_cancel">取消</button>
                      </td>
                </tr>
              </table>
      </div></div></div>
  </script>
  <!--=========================================================================-->
  <script type="text/template" id="usepack-list-template">
  <div >
      <!-- div id="contact-info">
       <table>
      <tr><td>id：</td><td><%- id %></td></tr>
      <tr><td>合同号：</td><td><%- hetongbh %></td></tr>
      </table>
      </div -->
      <table  class="table-bordered"  width="600px">
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>包名称</td><td hidden="true">合同</td><td hidden="true">包</td><td hidden="true">合同号</td><td>操作</td>
    　　</tr>
   　</thead> 
      <tbody id="usepack-list">
      </tbody>
      </table>
      <div style="padding: 5px 5px 50px 5px;min-height:350px">  <!-- leave margin to show autocomplete items -->
      <p>
      <!-- input id="auto_pack1" placeholder="输入包" style="border:solid #265a88" -->
      <input type="text" id="auto_pack1"  placeholder="输入包"  style="border:solid #265a88" data-provide="typeahead" data-items="5" />  
      <button  id="id_bibei_usepack">必备</button></p>
      <p>新包名称：<input id="new_pack1"  placeholder="新包" value="<%- hetongbh %>_选配"><button class="btn btn-info" id="id_new_usepack">新包</button></p>
      </div>
  </div>
  </script>
  <!--=========================================================================-->
  <script type="text/template" id="usepack-template">
    　　　<td><%- id %></td><td><%- name %></td><td hidden="true"><%- contact %></td><td hidden="true"><%- pack %></td><td hidden="true"><%- hetongbh %></td><td>
    <button class="usepack_edit" data="<%- id %>">编辑</button>
    <button  class="usepack_delete" data="<%- id %>">删除</button></td>
  </script>
  <!--=========================================================================-->
<script type="text/template" id="packitem-list-template">
  <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >   
  <div class="container">
      <div id="pack-info">
      <table>
      <tr><td>id：</td><td><%- id %></td></tr>
      <tr><td>包名称：</td><td><%- name %></td></tr>
      </table>
      </div>
      <table  class="table-bordered" >
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>备件id</td><td>编号</td><td>名称</td><td>规格</td><td>数量</td><td>缺货</td><td hidden="true">pack</td><td hidden="true">备件id</td><td>操作</td>
    　　</tr>
   　</thead> 
      <tbody id="packitem-list">
      </tbody>
      </table>
      <section id="packitem-edit">
      </section>
      <div style="padding: 5px 5px 50px 5px;min-height:500px">  <!-- leave margin to show autocomplete items -->
      <p><input id="auto_item1" placeholder="输入备件"></p>
      <p><input id="new_item1"  placeholder="新备件名称"><button id="id_new_packitem">新备件</button></p>
      </div>
  </div>
</div></div></div>
    </script>
  <!--=========================================================================-->
<!--   //{"itemid": 44, "ct": 1, "name": "镍箔", "pack": 111, "id": 1147}, -->
  <script type="text/template" id="packitem-template">
    　　　<td><%- id %></td>
    <td><%- itemid %></td>
    <td><%- bh %></td><td><%- name %></td><td><%- guige %></td><td><%- ct %><%- danwei %></td><td><input type="checkbox" id="quehuo" disabled="disabled" name="quehuo" checked="<%- quehuo %>"></td><td hidden="true"><%- pack %></td><td hidden="true"><%- itemid %></td>
    <td><button class="packitem_edit" data="<%- id %>">编辑</button><button  class="packitem_delete" data="<%- id %>">删除</button></td>
  </script>
  <!--=========================================================================-->
    <script type="text/template" id="packitem-edit-template">
 <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >        
    <table  class="table-condensed" >
            <tr hidden="true">
                <td >
                    <label>ID:</label>
                </td>
                <td>
                    <input type="text" id="id" name="id" readonly="true"      value="<%- id %>">
                </td>
            </tr>
             <tr>
                <td>
                    <label>备件id:</label>
                </td>
                <td>
                    <input type="text" id="itemid" name="itemid" readonly="true"      value="<%- itemid %>">
                </td>
            </tr>
            <tr>
                <td>
                    <label>编号:</label>
                </td>
                <td>
                    <input type="text" id="bh" name="bh" value="<%- bh %>">
                </td>
            </tr>       
            <tr>
                <td>
                    <label>名称:</label>
                </td>
                <td>
                    <input type="text" id="name" name="name" value="<%- name %>">
                </td>
            </tr>        
            <tr>
                <td>
                    <label>规格:</label>
                </td>
                <td>
                    <input type="text" id="guige" name="guige" value="<%- guige %>">
                </td>
            </tr>        
            <tr>
                <td>
                    <label>单位:</label>
                </td>
                <td>
                    <input type="text" id="danwei" name="danwei" value="<%- danwei %>">
                </td>
            </tr>        
            <tr>
                <td>
                    <label>数量:</label>
                </td>
                <td>
                    <input type="text" id="ct" name="ct" value="<%- ct %>">
                </td>
            </tr> 
             <tr>
                <td>
                    <label>缺货:</label>
                </td>
                <td>
                    <input type="checkbox" id="quehuo" name="quehuo" checked="<%- quehuo %>">
                </td>
            </tr>        
            </table>
        <button  class="btn btn-primary" id="bt_save_item">保存</button>
      </div></div></div>
    </script>
    <!--=========================================================================-->
   <script type="text/template" id="upload-template">
 <div class="modal-dialog" role="document" >
          <div class="modal-content" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >     
    <form  id="uploadForm" enctype="multipart/form-data">
    <input style="margin:10px 10px 10px 10px;" id="file" type="file" name="file"/>
    <button  style="margin:10px 10px 10px 10px;" class="btn btn-primary" id="bt_upload" type="button">上传</button>
    </form>
</div></div></div>    
 </script>
 <!--=========================================================================-->
    <script type="text/template" id="check-template">
   <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >       
    <p>仪器编号<%- yiqibh %>备料计划核对，请上传备料计划导出的Excel文件</p>
    <form  id="uploadForm" enctype="multipart/form-data">
    <input style="margin:10px 10px 10px 10px;" hidden="true" id="id" name="id" value="<%- id %>"/>
    <input style="margin:10px 10px 10px 10px;" id="file"  accept="application/vnd.ms-excel" type="file" name="file"/>
    <button  style="margin:10px 10px 10px 10px;" class="btn btn-primary" id="bt_upload" type="button">上传</button>
    </form>
    <div id="resultlist"></div>
  </div></div></div>
 </script>
 <!--=========================================================================-->
 <script  type="text/template" id="importstandard-template">
   <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" > 
      <form  id="uploadForm" enctype="multipart/form-data">
      <input style="margin:10px 10px 10px 10px;" hidden="true" id="id" name="id" value=""/>
      <input style="margin:10px 10px 10px 10px;" id="file"  accept="application/vnd.ms-excel" type="file" name="file"/>
      <button  style="margin:10px 10px 10px 10px;" class="btn btn-primary" id="bt_upload2" type="button">上传</button>
      </form>
      <div style="min-height:200px;">
      <table  class="table-bordered" >
    　<thead>
    　　<tr>
    　　　<td>ID</td><td>名称</td>
    　　</tr>
   　</thead> 
      <tbody id="pack-list">
      </tbody>
      </table>
      <!-- <a id="bt_prev">前一页</a> <label id="page">page/page</label><a id="bt_next">后一页</a> -->
    </div>
  </div>
</div>
</div>
 </script>
 <!--=========================================================================-->
   <script type="text/template" id="pack-template">
  <td>
      <%- id %>
 </td><td>
      <%- name %>
 </td>
  </script>
  <!--=========================================================================-->
<script type="text/template" id="waiting-template">
   <div class="modal-dialog" role="document" >
          <div class="modal-content" style="width:700px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" > 
  <p>请等待。。。。。
  </p>
  </div></div></div>
</script>
{% endblock %} 

