<html lang="zh-Hans">
  <head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./babel.min.js"></script>
    <script type="text/javascript" src="./Client_fetch.js"></script>
    <title>vue parts</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
<div id="app">
<div style="display:none;">  
  {{ message }}
  <div id="app-2">
    <span v-bind:title="message">
      鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
  </div>
  <div id="app-3">
    <p v-if="seen">现在你看到我了</p>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>   
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
  </div> 
  <div id="app-7">
    <ol>
      <todo-item
        v-for="item in todos"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div> 
</div>
  <div id="app-parts">
    <table border="1">
      <tr v-for="todo in contacts">
        <td>{{todo.id}}</td><td>{{ todo.yonghu }}</td><td>{{todo.yiqibh}}</td>
      </tr>
    </table>
  </div>  
</div>
<script type="text/babel">
Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
});
var app = new Vue({
  el: '#app',
  created: function () {
    Client.contacts({},(res)=>{
      this.contacts=res.data;
      console.log(this.contacts);
    },function(){

    });
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  },
  data: {
    message: 'Hello Vue!',
    contacts:[{yonghu:"aaaaa"}],
    seen:true,
    todos: [
        { text: '学习 JavaScript',id:1 },
        { text: '学习 Vue' ,id:2},
        { text: '整个牛项目' ,id:3}
      ],
  }
});
</script> 
  </body>
</html>
