{
  "presets": [
			    "env",
			    "react",
			      "es2015",
    "stage-1"
			  ]
  ,"plugins": [		"transform-class-properties"
		 			,["transform-assets-import-to-string", {
					    	"baseDir": "",
					    	"baseUri": ""}
    			     ]
	    	  ]
}
