.icon-user {
    background-image: url(images/user.png) !important;
}
.icon-edit {
    background-image: url(images/edit.png) !important;
}
.icon-add {
    background-image: url(images/add.png) !important;
}
.icon-select {
    background-image: url(images/select.png) !important;
}

.icon-delete {
    background-image: url(images/delete.png) !important;
}
.icon-item {
    background-image: url(images/item.png) !important;
}
.icon-contact-item {
    background-image: url(images/contact_item.png) !important;
}
.icon-contact {
    background-image: url(images/contact.png) !important;
}