<h3>Item Details</h3>
<form name="form" ng-submit="submit()" novalidate="novalidate" class="form-horizontal"><div ng-class="errorClass('name')" class="control-group">
<label for="name" class="control-label">Name</label>
<div class="controls">
<input ng-model="contact.name" type="text" name="name" placeholder="Name" require="require" autofocus="autofocus"/>
</div>
</div>
<div ng-class="errorClass('guige')" class="control-group">
<label for="guige" class="control-label">guige</label>
<div class="controls">
<input ng-model="contact.guige" type="text" name="guige" placeholder="Last Name" require="require"/></div></div><div ng-class="errorClass('ct')" class="control-group">
<label for="ct" class="control-label">ct</label><div class="controls">
<input ng-model="contact.ct" type="text" name="ct" placeholder="ct Name" require="require"/></div></div><div class="control-group"><div class="controls"><a ng-click="cancel()" class="btn">Cancel</a><button type="submit" class="btn btn-success">Save</button></div></div>
</form>
<a href="contacts/{{contact.id}}">Back</a>