<h3>Items</h3>
<table><tbody><tr>
<td>
	<button ng-click="new()" class="btn btn-success">New Item</button>
</td>
<td>
			<input ng-model="contact.ct" type="text" name="name" placeholder="Name" require="require"/>
</td>
<td>
			<button ng-click="seach()" class="btn btn-success">Search</button>
</td>
</tr></tbody></table>
<table class="table table-striped"><thead><td>Id</td><td>Name</td><td>规格</td><td>ct</td><td>Actions</td></thead><tbody><tr ng-repeat="contact in contacts"><td>{{contact._id}}</td><td>{{contact.name}}</td><td>{{contact.guige}}</td><td>{{contact.ct}}</td>
<td>
    <a href="contacts/{{contact._id}}">Show</a>
    <a href="contacts/{{contact._id}}/edit">Edit</a>
    <a href="contacts/{{contact._id}}/delete">Delete</a>
</td></tr></tbody></table>